#too many problems with virtualenv (and Tkinter)

#for iPython:
#   easy_install readline #has to be done with easy_install, so iPython works properly

#for NTLK:
#  sudo port install  py27-numpy py27-matplotlib

#you can run this (to install the libs below): pip install -r requirements.txt


PyYAML==3.10
distribute==0.6.24
ipython==0.12
nltk==2.0.1rc4
readline==6.2.2
wsgiref==0.1.2
